.con{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(3,200px);
    gap:20px;
}
.child1{
    grid-area: 1/1/2/5;
    background-color: orange;
    border-radius: 20px;
}
.child2{
    grid-area: 2/1/2/3;
    background-color: rgb(118, 211, 241);
    border-radius: 20px;
}
.child3{
    grid-area:2/4/2/5;
    background-color: rgb(226, 85, 60);
    border-radius: 20px;
}
.child4{
    grid-area: 3/1/4/5;
    background-color:rgb(62, 238, 62);
    border-radius: 20px;
}
.con div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 24px;
    padding: 20px;
}