.parent{
    display: grid;
    grid-template-columns: repeat(2,200px);
    grid-template-rows: repeat(4,200px);
    gap:20px;
}
.child{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(12, 104, 104);
}
.child1,.child4,.child5{
    grid-column: 1/3;

}
.child2{
    grid-row:2/4;   
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:420px;
}
.box{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size:26px;
}
/* .flex div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.flex_child{
    width:100%;
    height:200px;
    background-color:rgb(12, 104, 104);
    margin-top: 10px;
}
.flex_child1{
    width:47%;
    height:400px;
    background-color:rgb(12, 104, 104);
    margin-top: 20px;
}
.flex_child2{
    width:100%;
    height:190px;
    background-color:rgb(12, 104, 104);
    margin-top: 20px;
}
.flex_child3{
    width:100%;
    height:190px;
    background-color:rgb(12, 104, 104);
    margin-top: 20px;
}
.flex_child5{
    width:100%;
    height:18px;
    background-color:rgb(12, 104, 104);
    box-shadow: 8px 16px 20px;
    margin-top: 20px;
}
.super_parent{
    display: flex;
    width:100vw;
    justify-content: space-evenly;
    height:auto;
}
.flex_child4{
    width:100%;
    height:200px;
    background-color:rgb(12, 104, 104);
    margin-top: 20px;
}
.basic{
    width:420px;
    height:200px;
    background-color:rgb(12, 104, 104);
    margin-top: 10px;
}
.basic1{
    width:420px;
    height:200px;
    background-color:rgb(12, 104, 104);
    margin-top: 20px;
}
.side{
    width:200px;
    height:400px;
    background-color:rgb(12, 104, 104);
    margin-top: 20px;
}
.sides{
    width:200px;
    height:190px;
    background-color:rgb(12, 104, 104);
    margin-left:220px;
    margin-top:-400px;
}
.sides1{
    width:200px;
    height:190px;
    background-color:rgb(12, 104, 104);
    margin-top: 20px;
    margin-left: 220px;

}
.last{
    width:420px;
    height:20px;
    background-color:rgb(12, 104, 104);
    margin-top: 20px;
}
.content{
    width:420px;
    text-align: center;
    font-weight: 700;
    font-size:26px;
}
.normal{
    width:33vw;
    height:auto;
}