.cons{
    display: grid;
    grid-template-columns: repeat(17,50px);
    grid-template-rows: repeat(11,50px);
   gap:10px;
     /* grid-template-areas: 
    "logo header header header"
    "content content sidebar sidebar"
    "content content navbar navbar"
    "footer footer footer log"; */
}
.link{
    grid-template-rows: 50px 60px 70px 50px 60px 70px 50px 60px 70px 50px 60px;
}
 .cons div:nth-child(even){
   background-color: rgb(241, 147, 147);
 }
 .cons div{
    background-color: aquamarine;
 }
 .child1{
    grid-area: 1/3/2/5;
 }
 .child2{
    grid-area: 1/6/6/9;
 }
 .child3{
    grid-area: 1/11/3/15;
 }
 .child4{
    grid-area: 2/1/3/4;
 }
 .child5{
    grid-area: 2/4/6/6;
 }
 .child6{
    grid-area: 2/9/4/11;
 }
 .child7{
    grid-area: 4/9/5/11;
 }
 .child8{
    grid-area: 3/11/5/14;
 }
 .child9{
    grid-area: 3/14/4/17;
 }
 .child10{
    grid-area: 4/14/6/16;
 }
 .child11{
    grid-area: 5/9/6/14;
 }
 .child12{
    grid-area: 3/2/6/4;
 }
 .child13{
    grid-area: 6/3/7/7;
 }
 .child14{
    grid-area: 6/7/9/9;
 }
 .child15{
    grid-area: 6/9/10/12;
 }
 .child16{
    grid-area: 6/12/7/15;
 }
 .child17{
    grid-area: 6/15/8/17;
 }
 .child18{
    grid-area: 7/12/9/15;
 }
 .child19{
    grid-area: 8/15/10/18;
 }
 .child20{
    grid-area: 9/12/10/15;
 }
 .child21{
    grid-area: 10/9/11/12;
 }
 .child22{
    grid-area: 7/2/9/5;
 }
 .child23{
    grid-area: 7/5/8/7;
 }
 .child24{
    grid-area: 8/5/11/7;
 }
 .child25{
    grid-area: 9/7/10/9;
 }
 .con{
    display: grid;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(5,80px);
    gap:16px;
 }
 .con div:nth-child(even){
    background-color: rgb(241, 147, 147);
  }
  .con div{
     background-color: aquamarine;
  }

 .chil1{
    grid-area: 1/1/2/3;
 }
 .chil2{
    grid-area: 1/3/2/4;
 }
 .chil3{
    grid-area: 1/4/3/5;
 }
 .chil4{
    grid-area: 2/1/3/2;
 }
 .chil5{
    grid-area: 2/2/4/4;
 }
 .chil6{
    grid-area: 3/4/4/5;
 }
 .chil7{
    grid-area: 3/1/5/2;
 }
 .chil8{
    grid-area: 4/2/5/3;
 }
 .chil9{
    grid-area: 4/3/5/5;
 }
 .co{
    display: grid;
    grid-template-columns: repeat(5,80px);
    grid-template-rows: repeat(6,60px);
    gap:10px
 }
 .co div:nth-child(even){
    background-color: rgb(241, 147, 147);
  }
  .co div{
     background-color: aquamarine;
  }

 .chi1{
    grid-area: 1/2/2/5;
 }
 .chi2{
    grid-area: 2/2/5/3;
 }
 .chi3{
    grid-area: 2/3/4/5;
 }
 .const{
   display: grid;
   grid-template-columns: repeat(8,70px);
   grid-template-rows: repeat(5,90px);
   gap: 10px;
 }
 .const div{
   background-color: rgb(102, 165, 8);
   /* border: 4px solid black; */
 }
 .div1{
   grid-area: 1/1/2/2;
 }
 .div2{
   grid-area: 1/2/2/8;
 }
 .div3{
   grid-area: 1/8/2/9;
 }
 .div4{
   grid-area: 2/1/3/6;
 }
 .div5{
   grid-area: 2/6/3/7;
 }
 .div6{
   grid-area: 2/7/3/9;
 }
 .div7{
   grid-area: 3/1/4/2;
 }
 .div8{
   grid-area: 3/2/4/4;
 }
 .div9{
   grid-area: 3/4/4/9;
 }
 .div10{
   grid-area: 4/1/5/3;
 }
 .div11{
   grid-area: 4/3/5/4;
 }
 .div12{
   grid-area: 4/4/5/6;
 }
 .div13{
   grid-area: 4/6/5/7;
 }
 .div14{
   grid-area: 4/7/5/9;
 }
 .divi{
   display: grid;
   grid-template-columns: repeat(12,50px);
   grid-template-rows: repeat(9,50px);
   gap:5px;
 }
 .divi div{
   background-color: #2dee91;
   /* border:2px solid; */
 }
 .dive{
   grid-column: 2/span 11;
 }
 .dive1{
  grid-row: 2/span 3;
  grid-column: 1/ span 8;
  padding:1px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3,1fr);
  gap:8px;
 }
 .dive1 div{
   background-color: rgb(56, 190, 235);
   border:none;
 }
 .dive2{
   grid-row: 3/4;
   grid-column: 9/ span 2;
 }
 .dive3{
   grid-row: 3/4;
   grid-column: 11/ span 2;
 }
 .dive4{
   grid-column: 9 / span 4;
 }
 .dive5{
   grid-column: 1/ span 4;
 }
 .dive6{
   grid-column: 5/ span 2;
 }
 .dive7{
   grid-column: 8/ span 2;
 }
 .dive8{
   grid-column: 11/ span 2;
 }
 .dive9{
   grid-column: 2/ span 4;
 }
 .dive10{
   grid-column: 7/ span 2;
 }
 .dive11{
   grid-column: 9/ span 4;
 }
 .dive12{
   grid-column: 2/ span 2;
 }
 .dive13{
   grid-column: 5/ span 2;
 }
 .dive14{
   grid-column: 7/span 2;
 }
 .dive15{
   grid-column: 11/span 2;
 }
 .dive16{
   grid-column: 1/ span 12;
 }
 .cdive1{
   grid-column: 1/ span 3;
 }
 .cdive2{
   grid-column: 4/span 5;
  
 }
.cdive3{
   grid-area: 2/1/4/7; 
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap:5px;
   padding:3px;
}
.cdive4{
   grid-area: 2/7/4/9;
}
.cdiv{
   grid-column: 1/span 2;
}
.cdive3 div{
   background-color: rgb(67, 67, 240);
   border:none;
}
.c{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-template-rows: repeat(4,1fr);
   height:25vh;
   width: 25vw;
   gap:10px;
    grid-template-areas: 
    "logo header header header"
    "content content sidebar sidebar"
    "content content navbar navbar"
    "footer footer footer log";
}

.logo{
    grid-area: logo;
    background-color:rgb(129, 238, 238);
}
.header{
    grid-area: header;
    background-color: whitesmoke;
}
.content{
    grid-area: content;
    background-color: rgb(247, 247, 107);
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(245, 112, 112);
}
.navbar{
    grid-area: navbar;
    background-color: rgb(197, 241, 131);
}
.footer{
    grid-area: footer;
    background-color: rgb(252, 209, 130);
}
.log{
    grid-area: log;
    background-color: rgb(91, 236, 188);
}